/* footer{
    padding: 20px;
    background-color: green;
    margin-top: 40px;
    text-align: center;
    font-weight: 900;
    color: white;   
    
} */

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:green;
    color: white;
    text-align: center;
}

#img{
    width: 20px;
}